/* @import url('https://fonts.googleapis.com/css?family=MAXBETA6'); */

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.woff') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Light.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Light.woff') format('woff');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.woff') format('woff');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.woff') format('woff');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.woff') format('woff');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Regular.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Regular.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Medium.woff') format('woff');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Bold.woff') format('woff');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Light.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'lccExtFont';
    src: URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Regular.eot') format('embedded-opentype'), URL('chrome-extension://__MSG_@@extension_id__/fonts/MAXBETA6-Regular.woff') format('woff');
    font-weight: 400;
}