body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 448px;
    height: 140px;
    background: #FFFFFF;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.abo_icon {
    content: url(../images/notification/adblock_icon.png);
    height: 44px;
    width: 44px;
    position: absolute;
    top: 26px;
    left: 20px;
}

.abo_title {
    align-items: center;
    position: absolute;
    top: 26px;
    left: 80px;
    max-width: 356px;
}

.abo_button {
    width: 104px;
    height: 32px;
    position: absolute;
    top: 102px;
    text-align: center;

    border-radius: 4px;
    cursor: pointer;

    line-height: 32px;

}

#clickCancel {
    left: 216px;
    background: #FFFFFF;
    border: 0.5px solid #DBDCE0;
    box-sizing: border-box;
    color: #3574E0;

}

#clickProceed {
    color: #FFFFFF;
    background: #3574E0;
    left: 328px;
}

#clickCancel:hover {
    background: #ECF2FC;
}

#clickProceed:hover {
    background: #477DDC;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}