body {
    width: 360px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0;

    font-family: "Roboto", sans-serif;
}

#container {
    width: 100%;
}

#gdprPage {
    height: 527px;
    width: 100%;

    display: none;
}

#gdprTop {
    height: 64px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}

#gdprLogo {
    height: 32px;
    width: 227px;
    position: absolute;
    top: 16px;
    left: 32px;
    background-image: url(../images/popup/proLogo.png);
    background-size: cover;
}

#gdprMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#gdprMain>img {
    height: 188px;
    width: 283px;
    top: 0px;
    left:32px;
    right: 32px;
    position: absolute;
}

#gdprContent {
    width: 296px;
    position: absolute;
    top:183px;
    left:32px;
}

#gdprContent>p {
    font-family: Arimo, Arial, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #222222;
}

.gdprItem {
    color: #007AB9 !important;
    cursor: pointer;
}

#gdprAgree {
    width: 296px;
    height: 40px;
    color: #fff;
    background: linear-gradient(180deg, #EC0008 0%, #D40007 100%);
    border: 0.5px solid #ED0008;
    box-sizing: border-box;
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    top: 423px;
    left:32px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#gdprAgree>p {
    margin: 0;
}

#gdprAgree:hover {
    background: linear-gradient(180deg, #CF0007 0%, #B90006 100%);
    cursor: pointer;
}

#mainPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#mainPageTitle {

    font-style: normal;
    font-weight: 500;
    line-height: 19px;

    position: absolute;
    top: 26.5px;
    left: 24px;
}

#pausedButton {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    height: 40px;
    width: 40px;
    display: inline;
}

.pause {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    margin: 0;
    background-image: url("../images/popup/resume_small.png");
    background-size: contain;
}

.pause:hover {
    background-image: url("../images/popup/resume_small_hover.png");
}

.pause:checked {
    background-image: url("../images/popup/pause.png")
}

.pause:checked:hover {
    background-image: url("../images/popup/pause_hover.png")
}

.modal {
    background: #222222;
    border-radius: 4px;
    z-index: 1024;
    width: 328px;
    height: 109px;
    position: absolute;
    top: 88px;
    left: calc(50% - 164px);

    display: none;
}

.modal.in {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    transition-delay: 0.2s;
}

.modalTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.modalButtons {
    display: flex;
    flex-direction: row;
}

.modalButton {
    width: 140px;
    height: 40px;
    background: linear-gradient(180deg, #FBFBFB 0%, #F2F2F2 100%);
    border: 0.5px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #222222;

    margin-left: 16px;
    text-align: center;

    cursor: pointer;
}

.modalButton:hover {
    background: linear-gradient(180deg, #DCDCDC 0%, #D5D5D5 100%);
}

.switch {
    position: relative;
    display: inline;
    width: 192px;
    height: 128px;
    top: 110px;
    margin-left: calc(50% - 96px)
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: 0;
}

.toggle {
    height: 64px;
    width: 176px;
    display: inline-block;
    position: relative;
    margin: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.288) 100%);
    transition: all .2s ease;
    border-radius: 495px;
    box-shadow: inset 0px 1.6px 0px rgba(0, 0, 0, 0.5)
}

.toggle:after {
    content: '';
    position: absolute;
    top: -20px;
    left: -1px;
    height: 112px;
    width: 92.8px;
    background-image: url("../images/popup/yellow_shield.png");
    background-size: cover;
    transition: all .2s cubic-bezier(.5, .1, .75, 1.35);
}

.toggle:checked {
    background: linear-gradient(270deg, rgba(26, 115, 233, 0.48) 0%, rgba(108, 146, 244, 0.48) 100%);
    box-shadow: inset 0px 1.6px 0px #0055C5;
}

.toggle:checked:after {
    transform: translatex(84px);
    background-image: url("../images/popup/blue_shield.png");
}

#resumeButtonMain {
    background-image: url("../images/popup/resume_large.png");
    background-size: cover;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 88px;
    left: calc(50% - 80px);
    border-radius: 50%;
    cursor: pointer;
}

#resumeButtonMain:hover {
    border: 1.27119px solid #ADADAD;
}

#mainStatus {
    width: 296px;
    height: 80px;
    position: absolute;
    top: 234px;
    left: calc(50% - 148px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainStatus>div #mainStatusInsights>div {

    font-style: normal;
    text-align: center;
    color: #222222;
}

.wordingDisable {
    opacity: 0.5;
}

#mainDomain {

    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#mainStatusWording {

    margin-bottom: 24px;
}

.sixteenpx {
    font-size: 16px;
    text-align: center;
}

#mainStatusInsights {
    border-bottom: 1px solid #dfdfdf;
    height: 121px;
    position: absolute;
    top: 314px;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#totalInsights {
    margin-top: 8px;
    color: #555;
    max-width: 90%;
}

#currentInsights {
    margin-top: 24px;
}

#mainPageActions {
    background-color: #f7f7f7;
    width: 100%;
    position: absolute;
    left: 0;
    top: 436px;
    bottom: 0;
    border-top: 1px solid #dddddd;
}

.mainPageButton {
    width: 312px;
    height: 40px;
    background: linear-gradient(180deg, #FBFBFB 0%, #F2F2F2 100%);
    border: 0.5px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(50% - 156px);
}

.mainPageButton:hover {
    background: linear-gradient(180deg, #DCDCDC 0%, #D5D5D5 100%);
    cursor: pointer;
}

.mainPageButton>p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #222222;
}

.bottomLogo {
    position: absolute;
    left: 12px;
    top: 124px;
    height: 32px;
    width: 227px;
    background-image: url("../images/popup/proLogo@4x.png");
    border: 0px;
    background-size: cover;
}

#blankPage {
    display: none;
}

#blankTop {
    width: 100%;
    height: 479px;
    border-bottom: 1px solid #dddddd;

    display: flex;
    align-items: center;
    justify-content: center;
}
#blankTop > div > img {
    margin-left: calc(50% - 136px);
}

.blankPageActions {
    top: 480px !important;

}
.blankPageActions > .bottomLogo {
    top: 80px;
} 

.reportHeader {
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reportbg {
    width: 276px;
    height: 160px;
    margin-left: calc(50% - 138px);
}

.select-box {
    position: relative;
    display: block;
    width: 296px;
    height: 36px;
    margin-left: calc(50% - 148px);
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: #222222;

    line-height: 30px;
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 4px;
}

.select-box:hover {
    border: 1px solid #0074E8;
}

.select-box__current {
    height: 36px;
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}

.select-box:focus {
    border: 1px solid #0074E8;
}

.select-box__current:focus+.select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.select-box__current:focus+.select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 8px;
    height: 4px;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    width: 90%;
    margin: 0 0 0 12px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-box__list {
    position: absolute;
    width: 100%;
    height: 250px;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 1024;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    overflow: auto;
    margin-top: 1px;
    background-color: #fff;
}

.select-box__option {
    display: block;
    background-color: #fff;
    height: auto;
    width: 95%;
    font-size: 15px;
    line-height: 20px;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    font-weight: 400;
    padding-bottom: 5px;
    
}
.select-box__list > li:not(:first-child) > label {
    padding-top: 6px;
}
.select-box__list > li:not(:last-child) > label {
    padding-bottom: 6px;
}

.select-box__option:hover,
.select-box__option:focus {
    background-color: rgba(0, 0, 0, 0.05);
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

#reportComment {
    width: 296px;
    height: 96px;
    display: none;


    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 4px;

    margin-left: calc(50% - 148px);
    margin-top: 8px;
    resize: none;
}

#reportPage {
    display: none;
}

#reportSuccess {
    display: none;
}

.reportPageButton {
    background: linear-gradient(180deg, #EC0008 0%, #D40007 100%);
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    height: 39px;
    width: 312px;
    text-align: center;

    border: 0.5px solid #ED0008;
    box-sizing: border-box;
    border-radius: 4px;

    margin-top: 16px;
    margin-left: calc(50% - 156px);
    cursor: pointer;
}

.reportPageButton:disabled,
.reportPageButton:disabled:hover {
    background: linear-gradient(180deg, #EC0008 0%, #D40007 100%);
    opacity: 0.4;
}

.reportPageButton:hover {
    background: linear-gradient(180deg, #CF0007 0%, #B90006 100%);
}

.backArrow {
    width: 10px;
    height: 10px;
    top: 29px;
    left: 32px;
    position: absolute;
    border-right: 2px solid #555555;
    border-bottom: 2px solid #555555;
    box-sizing: border-box;
    transform: rotate(135deg);
}

.reportTitle {
    top: 26.5px;
    left: 72px;
    font-style: normal;
    font-weight: 500;
    color: #222;
    position: absolute;
}

.reportSuccessImg {
    height: 160px;
    width: 270px;
    top: 72px;
    left: calc(50% - 135px);
    position: absolute;

    -webkit-animation: fall-in 0.75s;
    -moz-animation: fall-in 0.75s;
    -o-animation: fall-in 0.75s;
    animation: fall-in 0.75s;
}

.reportSuccessWording {
    left: 16px;
    width: 328px;
    text-align: center;
    position: absolute;
}

#reportSuccessWordingUp {
    top: 240px;
}

#reportSuccessWordingDown {
    top: 260px;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2") format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@-webkit-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-webkit-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes fall-in {
    0% {
        -ms-transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    60% {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}