#banner {
    position: absolute;
    top: 20%;
    left: 20%;

    width: 142%;
    height: 100%;
  }

  #container {
    position: absolute;
    top: 30%;
    left: 20%;

    width: 100%;
    height: 100%;

  }

  #welcome {
      position: absolute;
      top: 0%;
      left: 0%;
    
      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 3vh;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      color: #333333;
  }

  #remind {
      position: absolute;
      top: 7%;
      left: 0%;

      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 2.3vh;
      font-weight: 400;
      line-height: 28px;
      font-weight: normal;
      letter-spacing: 0em;
      text-align: left;
      color: #333333;
  }

  #license {
      position: relative;
      top: 14%;
      left: 0%;

      font-family: "Segoe UI", Arial, sans-serif;
      font-size: 1.8vh;
      letter-spacing: 0em;
      text-align: left; 
      text-decoration:underline;
      color: #1B71F1;
      cursor: pointer;
  }

  #privacy {
    position: relative;
    top: 14%;
    left: 0%;

    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1.8vh;
    letter-spacing: 0em;
    text-align: left; 
    text-decoration:underline;
    color: #1B71F1;
    cursor: pointer;
  }

  #dcn {
    position: relative;
    top: 14%;
    left: 0%;

    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1.8vh;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left; 
    text-decoration:underline;
    color: #1B71F1;
    cursor: pointer;
  }

  #agree {
    position: relative;
    top: 18%;
    left: 0%;
    

    font-family: Roboto;
    font-size: 1.8vh;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;
  
    background: #ED1C24;
    height: 6vh;
    width: 20vh;
    max-height: 60px;
    min-height: 30px;
    max-width: 270px;
    min-width: 140px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ED1C24;
}

  #turtorial { 
    position: absolute;
    left: 20%;
    top: 35%;

    width: 25%;
    height: 30%;
    
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 3.2vh;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

#img {
    position: absolute;
    left: 43%;
    top: 20%;

}